<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yin.xuebiblockchain.Mapper.NewsMapper">
    <!--    User selectByPhone(@Param("phone") String phone);-->
    <select id="getNews" resultType="yin.xuebiblockchain.Pojo.NewsDTO">
        SELECT id,
               title,
               content,
               source,
               image_url   AS imageUrl,
               create_time AS createTime
        FROM news
        ORDER BY create_time DESC
    </select>

    <insert id="insertNews" parameterType="yin.xuebiblockchain.Pojo.NewsDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO news (title, content, source, image_url, author_id, author_name, create_time)
        VALUES (#{title}, #{content}, #{source}, #{imageUrl}, #{authorId}, #{authorName}, NOW())
    </insert>

    <update id="updateNews">
        UPDATE news
        SET title = #{title}, content = #{content}, source = #{source}, image_url = #{imageUrl}
        WHERE id = #{id}
    </update>

    <delete id="deleteNews">
        DELETE FROM news WHERE id = #{id}
    </delete>

</mapper>